* {
  margin: 0;
}

#headerMenu {
  width: 100%;
  height: 200px;
  background-color: rgb(224, 180, 93);
  display: flex;
  flex-direction: row;
  font-family: "Dancing Script";
}
#headerMenu ul {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#headerMenu ul li {
  display: inline-block;
  margin-left: 30px;
  font-size: 30px;
  color: white;
  list-style-type: none;
}
#headerMenu ul li :visited {
  color: white;
}
#headerMenu ul li a {
  text-decoration: none;
}

#aboutMeCaption {
  width: 200px;
  height: 40px;
  position: relative;
  top: 50px;
  left: 50px;
}
#aboutMeCaption li:nth-child(1) {
  font-size: 15px;
  font-weight: 600;
  font-family: "Playfair Display";
  list-style-type: none;
  color: rgb(224, 180, 93);
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#aboutMeCaption span:nth-child(2) {
  font-size: 15px;
  font-weight: 600px;
  font-family: "Playfair Display";
  color: grey;
  position: absolute;
  top: 10px;
  left: 103px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#aboutMeCaption span:nth-child(3) {
  font-size: 15px;
  font-weight: 600px;
  font-family: "Playfair Display";
  color: grey;
  position: absolute;
  top: 10px;
  left: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#firstImage {
  width: 45%;
  height: 500px;
  margin-top: 30px;
  margin-left: 0;
  float: left;
}
#firstImage img {
  margin-left: auto;
  margin-right: auto;
  -webkit-clip-path: polygon(0 10%, 10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
          clip-path: polygon(0 10%, 10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
}

#aboutMeText {
  width: 55%;
  height: 500px;
  margin-top: 40px;
  float: left;
}
#aboutMeText h1 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
}
#aboutMeText p {
  font-family: "Playfair Display";
  font-size: 30px;
  color: grey;
}

#passion {
  width: 100%;
  height: 800px;
  clear: both;
  padding-top: 160px;
}
#passion h1 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
}
#passion img {
  float: left;
}

#passionLipsImages {
  width: 100%;
  height: 300px;
}
#passionLipsImages img {
  height: 300px;
}

#passionText,
#experienceText,
#individualText {
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#experience {
  width: 100%;
  height: 1100px;
  padding-top: 160px;
}
#experience h1 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
}

#individual {
  width: 100%;
  height: 500px;
}
#individual h1 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
}

#aboutMeContact {
  width: 100%;
  height: 500px;
}
#aboutMeContact h1 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
}

#certificateImage {
  width: 100%;
  height: 500px;
  float: left;
}
#certificateImage img {
  border-radius: 60px;
}

#studio {
  width: 100%;
  height: 700px;
}
#studio h1 {
  font-size: 50px;
  font-family: "Dancing Script";
  font-weight: 600;
  letter-spacing: 3px;
  color: rgb(224, 180, 93);
  position: relative;
  top: 100px;
  margin-left: 60px;
}
#studio p {
  font-size: 30px;
  font-family: "Playfair Display";
  font-weight: 500;
  color: grey;
  position: relative;
  top: 120px;
  margin-left: 60px;
}/*# sourceMappingURL=about.css.map */