@mixin h1Font {
    h1 {
    font-size: 40px;
    font-family: "Cinzel Decorative", cursive; 
    }
}
@mixin aboutMeSections {
    width: 100%;
    @include h1Font;
}

@mixin NoneUserSelect {
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;   
    user-select: none;
}

$playfairDisplay: "Playfair Display";
* {
    margin: 0;
}
#headerMenu {
    width: 100%;
    height: 200px;
    background-color: rgb(224, 180, 93);
    display: flex;
    flex-direction: row;
    font-family: "Dancing Script";
    ul {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        li {
            :visited {
                color: white;
            }
            display: inline-block;
            margin-left: 30px;
            font-size: 30px;
            color: white;
            a {
                text-decoration: none;
            }
            list-style-type: none;
        }
    }
}
#aboutMeCaption {
    width: 200px;
    height: 40px;
    position: relative;
    top: 50px;
    left: 50px;
    li:nth-child(1) {
        font-size: 15px;
        font-weight: 600;
        font-family: $playfairDisplay;
        list-style-type: none;
        color:rgb(224, 180, 93);
        position: absolute;
        top: 10px;
        left: 0;
        @include NoneUserSelect;
    }
    span:nth-child(2) {
        font-size: 15px;
        font-weight: 600px;
        font-family: $playfairDisplay;
        color: grey;
        position: absolute;
        top: 10px;
        left: 103px;
        @include NoneUserSelect;
    }
    span:nth-child(3) {
        font-size: 15px;
        font-weight: 600px;
        font-family: $playfairDisplay;
        color: grey;
        position: absolute;
        top: 10px;
        left: 120px;
        @include NoneUserSelect;
    }
}
#firstImage {
     width: 45%;
     height: 500px;
     margin-top: 30px;
     margin-left: 0;
     float: left;
     img {
        margin-left: auto;
        margin-right: auto;
        clip-path: polygon(0 10%,10% 0,100% 0, 100% 90%,90% 100%,0 100%)
     }
}
#aboutMeText {
    width: 55%;
    height: 500px;
    margin-top: 40px;
    float: left;
    @include h1Font;
    p {
        font-family: $playfairDisplay;
        font-size: 30px;
        color:grey;
    }
}
#passion {
    @include aboutMeSections;
    height: 800px;
    clear: both;
    padding-top: 160px;
    img {
        float: left;
    }
}
#passionLipsImages {
    width: 100%;
    height: 300px;
}
#experience {
    @include aboutMeSections;
    height: 1100px;
    padding-top: 160px;
}
#individual {
    @include aboutMeSections;
    height: 500px;
    
}
#naturalness {
    @include aboutMeSections;
    height: 500px;
    
}
#aboutMeContact {
    @include aboutMeSections;
    height: 500px;
    background-color: aqua;
}
#certificateImage {
    width: 100%;
    height: 500px;
    float: left;
    img {
        border-radius: 120px;
    }
}