* {
    margin: 0;
}

$playfairDisplay: "Playfair Display";
@mixin NoneUserSelect {
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;   
    user-select: none;
}
#offerCaption {
    width: 200px;
    height: 40px;
    position: relative;
    top: 50px;
    left: 50px;
    li:nth-child(1) {
        font-size: 15px;
        font-weight: 600;
        font-family: $playfairDisplay;
        list-style-type: none;
        color:rgb(224, 180, 93);
        position: absolute;
        top: 10px;
        left: 0;
        @include NoneUserSelect;
    }
    span:nth-child(2) {
        font-size: 15px;
        font-weight: 600px;
        font-family: $playfairDisplay;
        color: grey;
        position: absolute;
        top: 10px;
        left: 103px;
        @include NoneUserSelect;
    }
    span:nth-child(3) {
        font-size: 15px;
        font-weight: 600px;
        font-family: $playfairDisplay;
        color: grey;
        position: absolute;
        top: 10px;
        left: 120px;
        @include NoneUserSelect;
    }
}