* {
  margin: 0;
}

#headerMenu {
  width: 100%;
  height: 200px;
  background-color: rgb(224, 180, 93);
  display: flex;
  flex-direction: row;
  font-family: "Dancing Script";
}
#headerMenu .logo {
  position: absolute;
  left: 50px;
  top: 50px;
  border-radius: 360px;
  opacity: 0.9;
}
#headerMenu ul {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#headerMenu ul li {
  display: inline-block;
  margin-left: 30px;
  font-size: 30px;
  color: white;
  list-style-type: none;
}
#headerMenu ul li :visited {
  color: white;
}
#headerMenu ul li a {
  text-decoration: none;
}

#pricelistCaption {
  width: 200px;
  height: 40px;
  position: relative;
  top: 50px;
  left: 50px;
}
#pricelistCaption li:nth-child(1) {
  font-size: 15px;
  font-weight: 600;
  font-family: "Playfair Display";
  list-style-type: none;
  color: rgb(224, 180, 93);
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#pricelistCaption span:nth-child(2) {
  font-size: 15px;
  font-weight: 600px;
  font-family: "Playfair Display";
  color: grey;
  position: absolute;
  top: 10px;
  left: 103px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#pricelistCaption span:nth-child(3) {
  font-size: 15px;
  font-weight: 600px;
  font-family: "Playfair Display";
  color: grey;
  position: absolute;
  top: 10px;
  left: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#mainPriceList {
  width: 100%;
  height: 1500px;
}

#bigPricelistCaption {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  text-align: center;
}
#bigPricelistCaption p {
  font-size: 120px;
  font-style: italic;
  font-weight: 500;
  font-family: Merienda;
}
#bigPricelistCaption span {
  color: rgb(224, 180, 93);
}

#pricelistContainers {
  width: 60%;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.pricelistDrop {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

#lipsModelling {
  visibility: hidden;
  font-style: italic;
  letter-spacing: 3px;
  width: 50%;
  height: 100px;
  background-color: white;
  color: black;
  position: relative;
  top: 50px;
  border-radius: 24px;
  box-shadow: 0 0 10px 10px rgb(226, 223, 218);
}
#lipsModelling h1 {
  font-size: 30px;
  color: rgb(224, 180, 93);
  visibility: visible;
}
#lipsModelling p {
  font-size: 20px;
  line-height: 50px;
  margin-left: 20px;
  color: rgb(157, 146, 125);
  margin-top: 5px;
}
#lipsModelling .revolaxPrice {
  font-size: 30px;
  font-weight: 500;
  color: rgb(224, 180, 93);
  position: absolute;
  left: 675px;
  top: 70px;
}
#lipsModelling .juvedermPrice {
  font-size: 30px;
  font-weight: 500;
  color: rgb(224, 180, 93);
  position: absolute;
  left: 675px;
  top: 124px;
}
#lipsModelling .moisturizingPrice {
  font-size: 30px;
  font-weight: 500;
  color: rgb(224, 180, 93);
  position: absolute;
  left: 675px;
  top: 178px;
}
#lipsModelling .hialoPrice {
  font-size: 30px;
  font-weight: 500;
  color: rgb(224, 180, 93);
  position: absolute;
  left: 675px;
  top: 232px;
}

#makeup {
  visibility: hidden;
  font-style: italic;
  letter-spacing: 3px;
  width: 50%;
  height: 100px;
  background-color: white;
  color: black;
  position: relative;
  top: 50px;
  border-radius: 24px;
  box-shadow: 0 0 10px 10px rgb(226, 223, 218);
}
#makeup h1 {
  font-size: 30px;
  color: rgb(224, 180, 93);
  visibility: visible;
}
#makeup p {
  font-size: 20px;
  line-height: 50px;
  margin-left: 20px;
  color: rgb(157, 146, 125);
  margin-top: 5px;
}
#makeup .eyebrowsPrice {
  font-size: 30px;
  font-weight: 500;
  color: rgb(224, 180, 93);
  position: absolute;
  left: 675px;
  top: 70px;
}
#makeup .consultationPrice {
  font-size: 30px;
  font-weight: 500;
  color: rgb(224, 180, 93);
  position: absolute;
  left: 675px;
  top: 124px;
}
#makeup .adjustmentPrice {
  font-size: 30px;
  font-weight: 500;
  color: rgb(224, 180, 93);
  position: absolute;
  left: 675px;
  top: 178px;
}
#makeup .pigmentationPrice {
  font-size: 30px;
  font-weight: 500;
  color: rgb(224, 180, 93);
  position: absolute;
  left: 675px;
  top: 232px;
}

#mesotherapy {
  visibility: hidden;
  font-style: italic;
  letter-spacing: 3px;
  width: 50%;
  height: 100px;
  background-color: white;
  color: black;
  position: relative;
  top: 50px;
  border-radius: 24px;
  box-shadow: 0 0 10px 10px rgb(226, 223, 218);
  height: 360px;
}
#mesotherapy h1 {
  font-size: 30px;
  color: rgb(224, 180, 93);
  visibility: visible;
}
#mesotherapy p {
  font-size: 20px;
  line-height: 50px;
  margin-left: 20px;
  color: rgb(157, 146, 125);
  margin-top: 5px;
}
#mesotherapy .facePrice {
  font-size: 30px;
  font-weight: 500;
  color: rgb(224, 180, 93);
  position: absolute;
  left: 675px;
  top: 70px;
}
#mesotherapy .faceNeckPrice {
  font-size: 30px;
  font-weight: 500;
  color: rgb(224, 180, 93);
  position: absolute;
  left: 675px;
  top: 124px;
}
#mesotherapy .faceNeckCleavagePrice {
  font-size: 30px;
  font-weight: 500;
  color: rgb(224, 180, 93);
  position: absolute;
  left: 675px;
  top: 178px;
}
#mesotherapy .headSkinPrice {
  font-size: 30px;
  font-weight: 500;
  color: rgb(224, 180, 93);
  position: absolute;
  left: 675px;
  top: 232px;
}
#mesotherapy .biorepeelPrice {
  font-size: 30px;
  font-weight: 500;
  color: rgb(224, 180, 93);
  position: absolute;
  left: 675px;
  top: 288px;
}

#biorepeel {
  visibility: hidden;
  font-style: italic;
  letter-spacing: 3px;
  width: 50%;
  height: 100px;
  background-color: white;
  color: black;
  position: relative;
  top: 50px;
  border-radius: 24px;
  box-shadow: 0 0 10px 10px rgb(226, 223, 218);
}
#biorepeel h1 {
  font-size: 30px;
  color: rgb(224, 180, 93);
  visibility: visible;
}
#biorepeel p {
  font-size: 20px;
  line-height: 50px;
  margin-left: 20px;
  color: rgb(157, 146, 125);
  margin-top: 5px;
}

@media only screen and (max-width: 1580px) {
  #lipsModelling .revolaxPrice,
  #lipsModelling .juvedermPrice,
  #lipsModelling .moisturizingPrice,
  #lipsModelling .hialoPrice {
    left: 85%;
  }
  #makeup .eyebrowsPrice,
  #makeup .consultationPrice,
  #makeup .adjustmentPrice,
  #makeup .pigmentationPrice {
    left: 85%;
  }
  #mesotherapy .facePrice,
  #mesotherapy .faceNeckPrice,
  #mesotherapy .faceNeckCleavagePrice,
  #mesotherapy .headSkinPrice,
  #mesotherapy .biorepeelPrice {
    left: 85%;
  }
}
@media only screen and (max-width: 1234px) {
  #lipsModelling,
  #makeup,
  #mesotherapy {
    width: 80%;
  }
}
@media only screen and (max-width: 760px) {
  #lipsModelling,
  #makeup,
  #mesotherapy {
    width: 95%;
  }
}
@media only screen and (max-width: 602px) {
  #lipsModelling .font-black,
  #makeup .font-black,
  #mesotherapy .font-black {
    font-size: 20px;
  }
  #lipsModelling .font-medium,
  #makeup .font-medium,
  #mesotherapy .font-medium {
    font-size: 15px;
  }
  #lipsModelling .under600pxPrice,
  #makeup .under600pxPrice,
  #mesotherapy .under600pxPrice {
    margin-top: -13px;
    left: 70%;
  }
}/*# sourceMappingURL=pricelist.css.map */