@mixin spanPriceStyle {
    font-size: 30px;
    font-weight: 500;
    color:rgb(224, 180, 93);
    position: absolute;
    left: 675px;
}
@mixin pricingArea {
    width: 50%;
    height: 100px;
    background-color: white;
    color: black;
    position: relative;
    top: 50px;
    border-radius: 24px;
    box-shadow: 0 0 10px 10px rgb(226, 223, 218);
    h1 {
        font-size: 30px;
        color:rgb(224, 180, 93);
        visibility: visible;
    }
    p {
        font-size: 20px;
        line-height: 50px;
        margin-left: 20px;
        color:rgb(157, 146, 125);
        margin-top: 5px;
    }
}
@mixin NoneUserSelect {
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;   
    user-select: none;
}

$playfairDisplay: "Playfair Display";
$cinzelDecorative: "Cinzel Decorative";

* {
    margin: 0;
}

#headerMenu {
    width: 100%;
    height: 200px;
    background-color: rgb(224, 180, 93);
    display: flex;
    flex-direction: row;
    font-family: "Dancing Script";
    .logo {
        position: absolute;
        left: 50px;
        top: 50px;
        border-radius: 360px;
        opacity: 0.9;
    }
    ul {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        li {
            :visited {
                color: white;
            }
            display: inline-block;
            margin-left: 30px;
            font-size: 30px;
            color: white;
            a {
                text-decoration: none;
            }
            list-style-type: none;
        }
    }
}
#pricelistCaption {
    width: 200px;
    height: 40px;
    position: relative;
    top: 50px;
    left: 50px;
    li:nth-child(1) {
        font-size: 15px;
        font-weight: 600;
        font-family: $playfairDisplay;
        list-style-type: none;
        color:rgb(224, 180, 93);
        position: absolute;
        top: 10px;
        left: 0;
        @include NoneUserSelect;
    }
    span:nth-child(2) {
        font-size: 15px;
        font-weight: 600px;
        font-family: $playfairDisplay;
        color: grey;
        position: absolute;
        top: 10px;
        left: 103px;
        @include NoneUserSelect;
    }
    span:nth-child(3) {
        font-size: 15px;
        font-weight: 600px;
        font-family: $playfairDisplay;
        color: grey;
        position: absolute;
        top: 10px;
        left: 120px;
        @include NoneUserSelect;
    }
}
#mainPriceList {
    width: 100%;
    height: 1500px;
}
#bigPricelistCaption {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    text-align: center;
    p {
        font-size: 120px;
        font-style: italic;
        font-weight: 500;
        font-family: Merienda;
    }
    span {
        color:rgb(224, 180, 93);
    }
}
#pricelistContainers {
    width: 60%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.pricelistDrop {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#lipsModelling {
    visibility: hidden;
    font-style: italic;
    letter-spacing: 3px;
    @include pricingArea;
    .revolaxPrice {
        @include spanPriceStyle;
        top: 70px;
    }
    .juvedermPrice {
        @include spanPriceStyle;
        top: 124px;
    }
    .moisturizingPrice {
        @include spanPriceStyle;
        top: 178px;
    }
    .hialoPrice {
        @include spanPriceStyle;
        top: 232px;
    }
}
#makeup {
    visibility: hidden;
    font-style: italic;
    letter-spacing: 3px;
   @include pricingArea;
    .eyebrowsPrice {
        @include spanPriceStyle;
        top: 70px;
   }
    .consultationPrice {
        @include spanPriceStyle;
        top: 124px;
   }
    .adjustmentPrice {
        @include spanPriceStyle;
        top: 178px;
   }
   .pigmentationPrice {
        @include spanPriceStyle;
        top: 232px;
   }
}
#mesotherapy {
    visibility: hidden;
    font-style: italic;
    letter-spacing: 3px;
    @include pricingArea;
    height: 360px;
     .facePrice {
        @include spanPriceStyle;
        top: 70px;
     }
     .faceNeckPrice {
        @include spanPriceStyle;
        top: 124px;
     }
     .faceNeckCleavagePrice {
        @include spanPriceStyle;
        top: 178px;
     }
     .headSkinPrice {
        @include spanPriceStyle;
        top: 232px;
     }
     .biorepeelPrice {
        @include spanPriceStyle;
        top: 288px;
     }
}
#biorepeel {
    visibility: hidden;
    font-style: italic;
    letter-spacing: 3px;
    @include pricingArea;
}

@media only screen and (max-width: 1580px) {
    #lipsModelling {
        .revolaxPrice,
        .juvedermPrice,
        .moisturizingPrice,
        .hialoPrice {
            left: 85%;
        }
    }
    #makeup {
        .eyebrowsPrice,
        .consultationPrice,
        .adjustmentPrice,
        .pigmentationPrice {
            left: 85%;
        }
    }
    #mesotherapy {
        .facePrice,
        .faceNeckPrice,
        .faceNeckCleavagePrice,
        .headSkinPrice,
        .biorepeelPrice {
            left: 85%;
        }
    }

}
@media only screen and (max-width: 1234px) {
    #lipsModelling,
    #makeup,
    #mesotherapy {
        width: 80%;
    }
}
@media only screen and (max-width: 760px) {
    #lipsModelling,
    #makeup,
    #mesotherapy {
        width: 95%;
    }
}
@media only screen and (max-width: 602px) {
    #lipsModelling,
    #makeup,
    #mesotherapy {
        .font-black {
            font-size: 20px;
        }
        .font-medium {
            font-size: 15px;
        }
        .under600pxPrice {
            margin-top: -13px;
            left: 70%;
        }
    }
}
